.aghanims-upgrades {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    width: 100%;
}

.aghanims-upgrades > * {
    padding: 0 0.5em 0.5em 0.5em;
    background-color:rgb(20, 26, 31);
    border: 2px solid black;
}

.upgrade-header {
    display: flex;
    flex-direction: row;
    color: var(--text-white);
    margin: 0.5em 0;
    align-items: center;
}

.scepter-upgrade {
    margin: 0 -5% 1em -5%;
}

.shard-upgrade {
    margin: 0 -5%;
}

.aghs-icon {
    width: 2.5em;
    margin-right: 0.5em;
    align-self: center;
    border: 1px solid var(--aghs-blue);
}

.upgrade-header b {
    text-transform: uppercase;
}

.ability-upgrade {
    color: var(--text-light);
    line-height: 120%;
    border: black 2px solid;
}

.ability-title {
    display: flex;
    margin-bottom: 0.25em;
    align-items: center;
    color: var(--text-white);
    text-transform: uppercase;
    background-color: rgb(31, 38, 43);
    padding: 0.5em;
}

.ability-upgrade-description {
    padding: 0.25em 1em 1em 1em;
}

.ability-title > img {
    width: 2em;
    height: 2em;
    border: 2px black solid;
    margin-right: 0.5em;
}

.new-ability {
    background-color: var(--aghs-blue);
}

.upgrade-ability {
    background-color: var(--text-dark);
}

.pill {
    color: var(--text-white);
    border-radius: 5px;
    margin-left: 0.5em;
    padding: 0 0.25em;
}