.ability {
    background-color: rgb(20, 26, 31);
    color: var(--text-light);
    padding-bottom: 1em;
    border: 2px solid black;
}

.ability-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(31, 38, 43);
    color: var(--text-white);
    padding: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.ability-name > img {
    width: 2em;
    align-self: center;
    margin-right: 0.5em;
    border:2px solid var(--dark-grey);
}


.ability-top-row {
    display: flex;
    align-items: center;
}

.ability-info {
    width: 100%;
    padding: 0.5em 1em;
    line-height: 120%;
    border-top:1px solid rgb(42, 54, 60);
    border-bottom:1px solid rgb(42, 54, 60);
}

.ability-info > * {
    display: flex;
    flex-direction: row;
}

.ability-info > * > b {
    text-transform: uppercase;
    color: var(--text-dark);
}

.ability-description {
    padding: 0.5em 1em;
    line-height: 120%;
}

.ability-notes {
    line-height: 100%;
    color: var(--text-grey);
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

.ability-note b {
    text-transform: uppercase;
    color: var(--text-dark);
}

.other-notes {
    display: flex;
    flex-direction: row;
}

.other-notes > * {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    padding: 0 0.25em;
}

.cooldown-value {
    align-self: center;
}

.manacost-value {
    align-self: center;
}

.icon {
    width: 1em;
    height: 1em;
    margin: 0 0.25em;
}

.aghs-modifier-icon {
    width: 1.25em;
    height: 1em;
    margin: 0 0.25em;
}

.talent-modifiers {
    color: var(--talent-orange);
}

.aghs-modifiers {
    color: var(--aghs-blue);
}

.note-value, .note-value > span {
    display: flex;
    flex-wrap: wrap;
}
