html, body, #root, #root>div {
    height: 100%
}

.viewerComponent {
    width: 100%;
    height: 100%;
}

.dota2-info-popup {
    position: absolute;
    bottom: 15em;
    left: 1em;
}

.popup {
    min-width: 15em;
    display: none;
    position: absolute;
    left: 1%;
    bottom: 20%
}

.hero {
    grid-row: 2 / span 2;
    grid-column: 2;
}

.popup-parent {
    width: 100%;
}

.popup-parent:hover {
    cursor: cell;
}

.popup-parent:hover > div {
    display: block
}

.talent-tree {
    grid-row: 2;
    grid-column: 3;
}

.talents-popup {
    max-width: 30%;
}

.abilities {
    grid-row: 2;
    grid-column: 4;
    display: flex;
    flex-direction: row;
}

.ability-popup {
    max-width: 25%;
}

.aghanims {
    grid-row: 2;
    grid-column: 5;
}

.aghanims-popup {
    max-width: 40%;
    min-width: 20%;
}

.items {
    grid-row: 2 / span 2;
    grid-column: 6;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.items-hover-text {
    display: none;
    text-align: center;
    align-self: center;
    color: var(--text-white);
    padding: 0 0.5em;
}

.items:hover {
    background: rgb(45,45,45);
    background: radial-gradient(circle, rgba(45,45,45,0.65) 42%, rgba(83,87,91,0.35) 75%);
    cursor: pointer;
}

.items:hover > .items-hover-text {
    display: block;
}

.items-popup {
    max-width: 40%;
    min-width: 15em;
    position: absolute;
    left: 1%;
    top: 10%;
}

.neutrals {
    grid-row: 2;
    grid-column: 7;
}

.tp-scroll {
    grid-row: 3;
    grid-column: 7;
}

.dota2-grid {
    display: grid;
    height: 100%;
}

.grid-four-abilities {
    grid-template-rows: 86.5% 7.25% 6.25%;
    grid-template-columns: 29.5% 8.2% 3.9% 13.2% 3.2% 10.5% 2.5%;
}

.grid-five-abilities {
    grid-template-rows: 86.5% 7.25% 6.25%;
    grid-template-columns: 28.5% 8.3% 4% 15% 3% 10.5% 2.5%;
}

.grid-six-abilities {
    grid-template-rows: 86.5% 7.25% 6.25%;
    grid-template-columns: 27% 8.3% 4% 17.8% 3% 10.5% 2.5%;
}

.dota2-grid > div {
    box-sizing: border-box; 
}